header{
    display: flex;
    justify-content: space-between;
    background-color: #2c645e;
    border-bottom: 10px solid #052137;
    padding: 10px 20px;
}

img{
    border-radius: 35px;
    box-shadow: 5px 5px 0px #0c0b42;
}
img:hover{
    scale: 110%;
}

nav{
    text-align: right;
}
a{
    display: inline-flex;
    align-items: center;
    color: #faffff;
    font-size: 20px;
    font-family: "Fira Code",Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}
a::before{
    content: "";
    background-color: #488bd4;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}
a:hover::before{
    background-color: #c6d831;
}

#button{
    display: inline-block;
    background-color: #488bd4;
    padding: 20px 18px;
    box-shadow: 5px 5px 0px #0c0b42;
    margin-left: 0px;
}
#button::before{
    content: none;
}
#button:hover{
    background-color: #10908e;
    scale: 110%;
}